/*
-----------------------------------------------
IE Styles
-----------------------------------------------
site:		designadmin.com
file:		/css/ie.css
author:		Stephen Bau
firm:		Bauhouse Design
date:		30 June 2007
----------------------------------------------- */

#links {
	float:left;
	width: 29.9%;
	}
